.responsive-img{
    padding-top: 20px;
    width: 20%;
    height: auto;
 
}

#titulo{
    display: inline-block
}

#contenedor_principal{
    width:1024px;
    height:auto;
    position:relative;
    margin:auto;
    display: flex;
    }
    .contenedor_imagen_texto{
    width:100%;
    height:auto;
    position:relative;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    }
    .imagen, .texto{
    width:40px;
    height:auto;
    position:relative;
    display:inline;
    object-fit: cover;
    }
    .texto{
    height:auto;
    text-align:center
    }

    #carro{
        width: 60%;
        margin-top: 102px;
    }
    #moto{
        width: 60%;
        margin-top: 62px;
    }
    #patineta{
        width: 60%;
    }

    .row{
        border-top: 1px solid red;
    }
    .title1{
        text-align: center;
    }
    .imagetitle{
        margin-left: 100px;
        width: 260px;
        margin-top: -71px;
    }
    .aside{
        margin-top: 100px;
    }
    .parrafo1{
        font-size: 20px;
        text-align: justify;
    }
    .titlemision{
        text-align: center;
    }
    .tittle2{
        text-align: center;
    }
    .parrafo{
        text-align: justify;
        padding: 10px;
    }
    

    
    