<footer class="page-footer #ffa726 orange lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Smart Vehicle</h5>
          <p class="grey-text text-lighten-4">¡Tu mejor opción!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Enlaces</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Whatsapp</a></li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="justify-content:center;">
      © 2021 Copyright JustSprint | Telefono: 8762145  |  Correo: smartv@gmail.com
      </div>
    </div>
  </footer>
